.body {
    border-radius: 10px;
    margin: auto;
    width: 90%;
    height: 500px;
    margin-top: 6%;
    background-color: rgba(0, 0, 0, 0.533);
    box-shadow: 0 10px 15px 5px rgba(255, 0, 0, 0.3);
    border: 2px solid rgb(255, 255, 255);
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(238, 255, 0);
    text-align: center;
    margin-top: 1rem;
}

h3 {
    font-size: 28px;
    margin-top: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
}

.ep {
    color: rgb(216, 216, 216);
    margin-top: -9px;
    text-align: center;
    font-size: 15px;
}

.product1 {
    width: 50%;
}

.img1 {
    width: 220px;
    height: 330px;
}

p {
    width: 100%;
    font-size: 17px;
    margin-top: 1rem;
    color: white;
}

.rateNum {
    font-size: 19px;
    color: rgb(255, 255, 255);
}

.star {
    font-size: 55px;
    color: #00ffff;
}

.filled {
    color: #00d60b;
}