<div class="body">
    <h1>Rate the Game</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="../assets/img/logo.png" class="img1" alt="..." />
                <h3>Dota 2</h3>
            </div>
            <div class="col-md-9">
                <p>
                    Dota 2 is a multiplayer online battle arena (MOBA) video game developed and published by Valve. The game is a sequel to Defense of the Ancients (DotA), which was a community-created mod for Blizzard Entertainment's Warcraft III: Reign of Chaos. Dota 2
                    is played in matches between two teams of five players, with each team occupying and defending their own separate base on the map. Each of the ten players independently controls a powerful character, known as a "hero", who all have
                    unique abilities and differing styles of play.
                </p>
                <p>
                    During a match players collect experience points and items for their heroes to successfully defeat the opposing team's heroes in player versus player combat. A team wins by being the first to destroy the other team's "Ancient", a large structure located
                    within their base.
                </p>
                <hr>
                <ngb-rating class="star" [max]="5" [(rate)]="rating"></ngb-rating>

                <pre class="rateNum">Rate: <b>{{rating}} of 5</b></pre>
            </div>
        </div>
    </div>
</div>