/* You can add global styles to this file, and also import other style files */

body {
    width: 100%;
    height: 100%;
    background-size: cover no-repeat;
    background-image: url('../src/assets/img/bg.png');
}